body{
    background-color: white;
    color: black;
}
div.paragraph1{
    background-color: red;
    color: white;
    font-size: large;
}
div.paragraph2{
    color: blue;
}
div.list2{
    background-color: yellow;
}